body {
	
	background-color: #2F4858;
	
		
	}

/* Background VIDEO */


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body{
        background-color: red;
    }
    #videoBG{
        width: 100%;
        display: flex;
        z-index: -1;
        height: auto;
    }
  
    .heading{
        color: rgb(45, 165, 51);
        position:absolute;
        animation: mexicanColor 1000ms ease-out linear  reverse 1;
    } 

    /* LINKS */

    .links{
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        position: relative;
        bottom: -10px;
    }

    .fa-utensils{
        padding: 0.5em;
        color: #8E8E8E;
        text-shadow: 1px 1px 4px white;
        position: relative;
        bottom: 60vw;
        left: 70%;
    }
    .fa-square-facebook{
        padding: 0.5em;
        color: #1877F2;
        text-shadow: 1px 1px 3px white;
        position: relative;
        bottom: 60vw;
        left: 80%;
    }
    .fa-tiktok{
        color: #00f2ea;
        padding: 0.5em;
        text-shadow: 1px 1px 4px #ff0050;
        position: relative;
        bottom: 60vw;
        left: 100%;

    }
    .fa-whatsapp{
        color: #25D366;
        padding: 0.5em;
        text-shadow: 1px 1px 4px white;
        position: relative;
        bottom: 40vw;
        right: 3.5em;

    }
    .fa-map-location-dot{
        color: #22a022;
        text-shadow: 2px 1px 4px white;
        position: relative;
        bottom: 40vw;
        right: 2em;

    }

    .fa-solid:hover{
        color: rgb(233, 221, 221);
    }
    .fa-brands:hover{
        color: rgb(238, 229, 229);
    }
        

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body{
        background-color: pink;
    }
    #videoBG{
        width: 100%;
        display: flex;
        z-index: -1;
        height: auto;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body{
        background-color: aquamarine;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body{
        background-color: yellow;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body{
        background-color: tomato;
    }
}
    
/*HEADING */

.heading{
	
	text-align: center;
	max-width: 100%;
	top: 2em;
	left: 0;
	font-size: 3.8em;
	 font-family: 'Almendra Display', cursive;
	font-weight: bolder;
	animation: color 6000ms ease-in-out 1;
	
	}
    
    /*
	@keyframes color{
	    25%{
	        font-size: 100px;
	        text-shadow: 1px 1px 4px green;
	    }
	    50%{
	        font-size: 150px;
	    }
	    70%{
	        font-size: 200px;
	    }
	    100%{ 
	    	 font-size:3em;
	         text-shadow: 1px 1px 4px red;
	    }
	} */
	
#buffet{
	top: -1em;
	left: 4.5em;
	
	
}
#lucia{
	top: 0;
	left: 7em;
	
}
#fiesta{
	top: 1em;
	right: 8em;
	
}
#mexicana{
	top: 2em;
	right: 4em;
	
}

/* SOCIAL MEDIA */

.link-tree{

	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	top: 26em;
	
}

.fa-solid{
 	font-size: 4em;
 	
}


.fa-brands{
	font-size: 3.5em;
}
