body {
	
	background-color: #2F4858;
	
		
	}

/* Background VIDEO */


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

body{
    background-color: #292424;
}
  .background-2{
    max-width: 100%;
    position:fixed;
    z-index: -1;
    top: 9em;
}

.mySlides{
    width: 100%;
    height: auto;
    display: none;
}

.img-video-background{
    max-width: 500px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
    /* HEADING */
    .heading{
	
        text-align: center;
        max-width: 100%;
        top: 0.4em;
        left: 0;
        font-size: 3.8em;
        font-weight: bolder;
        position: absolute;
        color: rgb(36, 167, 39);
        text-shadow: 2px 1px 5px rgb(254, 254, 254);
        font-family: 'Dancing Script', cursive;

        }

    #buffet{
        top: -1em;
        left: 4.5em;
        
        
    }
    #lucia{
        top: 0;
        left: 7em;
        
    }
    #fiesta{
        top: 1em;
        right: 8em;
        
    }
    #mexicana{
        top: 2em;
        right: 4em;
        color: rgb(232, 45, 45);
        text-shadow: 1px 1px 3px rgb(0, 0, 0);
        
    }
    

    /* LINKS */

    .links{
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        position: relative;
        top: 450px;
    }

    .fa-utensils{
        color: #8E8E8E;
        text-shadow: 1px 1px 4px white;
        position: absolute;
        bottom: 2.5em;
        left: 1em;
        font-size: 5em;
    }
    .fa-square-facebook{
        color: #1877F2;
        text-shadow: 1px 1px 3px white;
        position: absolute;
        bottom: 2.5em;
        left: 3em;
        font-size: 5em;
    }
    .fa-tiktok{
        color: #00f2ea;
        padding: 0.5em;
        text-shadow: 1px 1px 4px #ff0050;
        position: absolute;
        bottom: 0.5em;
        left: 2.5em;
        font-size: 5em;

    }
    .fa-whatsapp{
        color: #25D366;
        padding: 0.5em;
        text-shadow: 1px 1px 4px white;
        position: absolute;
        bottom: 0.5em;
        font-size: 5em;
        left: 30px;

    }
    .fa-map-location-dot{
        color: #22a022;
        text-shadow: 2px 1px 4px white;
        position: relative;
        font-size: 5em;
        left: 0;
        top: 2px;
    }

    .fa-solid:hover{
        color: rgb(233, 221, 221);
    }
    .fa-brands:hover{
        color: rgb(238, 229, 229);
    }
        

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body{
        background-color: pink;
    }
    /* image - 2*/
    .background-images-2{
        max-width: 100%;
        position:fixed;
        z-index: -1;

    }
    .background-2{
            width: 100%;
            height: auto;
            z-index: -1;

    }

    /* slideSHow*/
    .mySlides{
        width: 100%;
        height: auto;
        display: none;
        
    }
    
    .img-video-background{
        max-width: 100%;
        position: fixed;
        top: 0;
        left: 0;

    }

   /* HEADING */
   .heading{
    position: absolute;
    font-size: 5em;
    text-align: center;
    top: 100px;
   }

    /* LINKS */
    .link-tree{
        position: relative;
        font-size: 4.5em;
        display: flex;
        top: 500px;
        justify-content: center;
        flex-direction:column;
        align-items: center'
    
    }

    .fa-utensils{
        position: absolute;
        color: gray;
        left: 100px;
        bottom: 50px;
        font-size: 2em;
    }

    .fa-square-facebook{
        color: #1877F2;
        position: absolute;
        font-size: 2em;
        right: 120px;
        bottom: 50px;
        
    }

    .fa-tiktok{
        position: absolute;
        color: #00f2ea;
        right: 150px;
        top: 90px;
        font-size: 2em;
    }

    .fa-whatsapp{
        color: #22a022;
        font-size: 2em;
        position: absolute;
        left: 100px;
        top: 90px;
    }

    .fa-map-location-dot{
        position: absolute;
        color: red;
        top: 300px;
        left: 270px;
        font-size: 2em;
    }











}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body{
        background-color: aquamarine;
    }
        /* slideSHow*/
        .mySlides{
            width: 100%;
            height: auto;
            display: none;
            
        }
        
        .img-video-background{
            max-width: 100%;
            height: auto;
            position:fixed;
            left: 0;
            top: 0;


       }

       .heading{
        color: #ff0050;
       }

    /* LINKS */
    .link-tree{
        position: relative;
        display: flex;
        justify-content:center;
        flex-direction:column;
        align-items: center;
        top: 550px;
    
    }

    .fa-utensils{
        position: absolute;
        color: gray;
        left: 150px;
        bottom: 50px;
        font-size: 2em;
    }

    .fa-square-facebook{
        color: #1877F2;
        position: absolute;
        font-size: 2em;
        right: 250px;
        bottom: 50px;
        
    }

    .fa-tiktok{
        position: absolute;
        color: #00f2ea;
        right: 250px;
        top: 200px;
        font-size: 2em;
    }

    .fa-whatsapp{
        color: #22a022;
        font-size: 2em;
        position: absolute;
        left: 150px;
        top: 200px;
    }

    .fa-map-location-dot{
        position: absolute;
        color: red;
        top: 20px;
        left: 370px;
        font-size: 2em;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body{
        background-color: rgb(0, 255, 119);

   
    }

            /* slideSHow*/
            .mySlides{
                width: 100%;
                height: auto;
                display: none;
                
            }
            
            .img-video-background{
                max-width: 100%;
                height: auto;
                position:fixed;
                left: 0;
                top: 0;
                right: 0;
           }
           .heading{
            color: #1877F2;
            text-align: center;
            position: relative;
            font-size: 7em;
            top: 20px;
           }

               /* LINKS */
    .link-tree{
        position: relative;
        display: flex;
        justify-content:center;
        flex-direction:column;
        align-items: center;
    
    }

    .fa-utensils{
        position: absolute;
        color: gray;
        left: 130px;
        bottom: 260px;
        font-size: 3em;
    }

    .fa-square-facebook{
        color: #1877F2;
        position: absolute;
        font-size: 3em;
        left: 850px;
        bottom:260px;
        
    }

    .fa-tiktok{
        position: absolute;
        color: #00f2ea;
        left: 500px;
        top: -470px;
        font-size: 3em;
    }

    .fa-whatsapp{
        color: #22a022;
        font-size: 3em;
        position: absolute;
        left: 250px;
        top: -220px;
    }

    .fa-map-location-dot{
        position: absolute;
        color: red;
        top: -220px;
        left: 670px;
        font-size: 3em;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body{
        background-color: tomato;
    }
}
    

	
